#twt-logo {
    width: 325px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
}

#scrum-img{
    width: 325px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
}

@media(min-width:760px) {
    #twt-logo {
        margin: auto;
        display: flex;
        width: 100%;
        max-width: 650px;
    }
    #scrum-img{
        width: 950px;
        max-width: 950px;
    }
}