
#videos{

}

.video{
    border:solid 2px lightseagreen;
    border-radius: 15px;
    width: 375px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (min-width:720px){
    .video{
        width: 100%;
    }
}