@charset "utf-8";
/*
author: capytech
date: October 20, 2022
version: 1.2
notes: CSS style for Capytech portfolio
*/

.video {
    border: solid 2px lightseagreen;
    border-radius: 15px;
    width: 325px;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-img {
    width: 325px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.portfolio-img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}



#portfolio-main h1 {
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 25px;
}

#banking-sys-protoype-img {
    border-radius: 20px;
    -webkit-filter: drop-shadow(0 0 10px #000000);
    filter: drop-shadow(0 0 10px #000000);
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 325px;
}

#art-gallery-img {
    width: 325px;
    border-radius: 10px;
}

@media (min-width:720px) {
    .portfolio-img {
        max-height: 325px;
        max-width: 325px;
        width: auto;
    }

    .video {
        width: 100%;
        max-width: 650px;
        margin: auto;
    }

    #banking-sys-protoype-img {
        width: 100%;
        max-width: 850px;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    #art-gallery-img {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    #current-projects-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #current-projects-section article {
        margin: 10px;
        border: solid white 2px;
        border-radius: 5px;
        padding: 10px;
    }

    #pygames-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #pygames-section article {
        margin: 10px;
        border: solid white 2px;
        border-radius: 5px;
        padding: 10px;
    }
}