#lives {
    position: absolute;
    color: white;
    padding-left: 10px;
    font-size: 20px;
}

#score {
    position: absolute;
    top: 315px;
    color: white;
    padding-left: 10px;
    font-size: 20px;
}

#level {
    position: absolute;
    color: white;
    padding-left: 10px;
    font-size: 20px;
    left: 900px;
}

#canvas {
    border: solid white 2px;
  }

#game-over {
    position: absolute;
    color: white;
    padding-left: 10px;
    font-size: 20px;
    top: 650px;
    left: 590px;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 300px;
}

#buttons button {
    margin: 5px;
    border: solid 1px black;
    padding: 20px;
    background-color: rgb(27, 27, 153);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#shoot-button {
    margin: 5px;
    background-color: rgb(27, 27, 153);
    color: white;
    cursor: pointer;
    padding: 20px;
}

#ui {
    display: flex;
}