/*
author: capytech
date: October 20, 2022
version: 1.2
notes: Tailwind CSS
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    overflow-x: hidden;
}

.primary-font {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.tertiary-font {
    font-family: 'Lekton', sans-serif;
}

#paul {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .05em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation:
        typing 2.0s steps(30, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 57%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}